<header class="header">
  <div class="header-wrap group">
    <h1 class="header-logo">
      <a href="/">Quorum</a>
    </h1>

    <nav class="header-nav">
      <ul class="group">

          <!-- <li><a href="/">Home</a></li>
          <li><a href="<%= new_session_url %>">Sign in</a></li>
          <li><a href="<%= new_user_url %>">Sign up</a></li> -->

          <li><a href="/"><strong>Home</strong></a></li>
          <li><a href="#"><strong>Write</strong></a></li>
          <li>
            <a href="#">Notifications <strong class="header-nav-badge">3</strong></a>
            <ul class="header-nav-drop-down">
              <li><a href="#">Someone liked your question.</a></li>
              <li><a herf="/">Someone answered your question.</a></li>
            </ul>
          </li>
          <li><a href="#"><strong><%= current_user.user_name %></strong></a></li>
          <li><form action="<%= session_url %>" method="POST">
            <%= authenticity_token %>
            <%= delete_action %>
            <label>
              <input type="submit" value="Sign Out">
            </label>
          </form></li>
          <li><a id="#askQuestion" href="#"><strong>Ask Question</strong></a></li>

      </ul>
    </nav>

  </div>
</header>

<div class="page group">
  <section class="page-left">
    <h2 class="title">FEEDS</h2>
    <section class="page-left-content">
      Place links for feeds here.
    </section>
  </section>

  <section class="page-center">
    <h2 class="main-body-title">Top Stories for You</h2>
    <div class="injected-content-wrapper">
      <div id="content"></div>
    </div>
  </section>

  <section class="page-right">
    <h2 class="title">Right Sidebar</h2>
  </section>
</div>
