<!DOCTYPE html>
<html>
<head>
  <title>Quorum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>





    <% if !signed_in? %>
      <div class="button-stuff">
        <a href="<%= new_session_url %>">Sign in</a>
        <a href="<%= new_user_url %>">Sign up</a>
      </div>
    <% else %>
      <%= current_user.user_name %>
      <form action="<%= session_url %>" method="POST">
        <%= authenticity_token %>
        <%= delete_action %>
        <label>
          Sign Out
          <input type="submit" value="Sign Out">
        </label>
      </form>
    <% end %>

  <%= yield %>

</body>
</html>
